body,html {
  margin: 0px;
  padding: 0px;
  box-sizing: content-box;
}
#id {
  width: 60;
  height: 60;
}

.Landing__background {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 0;
}

.Landing__background div {
  width: 100%;
  height: 100%;
}
.Landing__background .left {
  background-color: #FFF;
}
.Landing__background .right {
  overflow: hidden;
  background-color: #333333;
}

.Landing {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  z-index: 0;
}
.Landing__content {
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 3em;
  padding-left: 5em;
  padding-right: 5em;
}
.Landing__content__header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.Landing__content__header__buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:1em;
}
.Landing__content__header__buttons app-button {
    width:
}
.Landing__content__body{
  padding: 3em;
  display: flex;
  flex-direction: column;
}

.Landing__content__body__cards {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2em;
}
.Landing__content__body__description {
  width: 40%;
}
.Landing__content__body__description strong {
  color: #B336B3;
  font-weight: 700 !important;
}
.Landing__content__body__description span {
  color: #B336B3;
  font-weight: 700 ;
}

.Landing__background__video{
    position: fixed;
    object-fit: cover;
    z-index: -1;
 }
