@using LocalVibes.Models.ViewModels
@model LandingViewModel

@{
	ViewData["Title"] = "Local Vibes";
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewData["Title"]</title>
	<link rel="stylesheet" href="~/css/Views/Landing/index.css" />
	<link rel="stylesheet" href="~/css/Views/Shared/VerticalCard.css" />
	@Html.Partial("_Font")
</head>
<body>
	<div class="Landing">
		<div class="Landing__content">
			<div class="Landing__content__header">
				<img src="~/Assets/logo.png" asp-append-version="true" alt="Logo" class="Landing__header__logo" width="90px">
				<div class="Landing__content__header__buttons">
					<app-button button-type="primary"
								button-text="Register User"
								onclick="window.location.href='/Authentication/SignUpUser'" style="width: 150px">
					</app-button>
					<app-button button-type="primary"
								button-text="Register Project"
								onclick="window.location.href='/Authentication/SignUpProject'" style="width: 150px">
					</app-button>
					<app-button button-type="primary"
								button-text="Login"
								onclick="window.location.href='/Authentication/Login'" style="width: 150px">
					</app-button>
				</div>

			</div>
			<div class="Landing__content__body">
				<h1>VIVE LA MUSICA <br> ESCUCHA LA BANDA</h1>
				<p class="Landing__content__body__description"> Local Vibes es una plataforma diseñada para ayudarte a <span>descubrir</span> conciertos y <strong>bandas</strong> en vivo en Barcelona. Si eres fanático de la música, aquí puedes encontrar <strong>eventos</strong> cercanos, desde conciertos de artistas <strong>emergentes</strong> hasta grandes festivales  para que la gente tenga siempre un plan diferente y emocionante por descubrir..
				Lo que nos diferencia es nuestra misión de apoyar a las bandas emergentes, brindando un espacio donde los artistas puedan ser descubiertos apartando las reproducciones y followers de la ecuacion.</p>

				<h2>Descubre</h2>
				<div class="Landing__content__body__cards">
					@foreach (var evento in Model.Eventos)
					{
						@Html.Partial("_VerticalCard", new CardModel
	{
							Title = evento.EventTitle,
							Subtitle = $"Fecha: {evento.EventDate.ToShortDateString()}",
							Description = evento.EventDescription,
							Image = evento.EventImage != null ? evento.EventImage : null, // Muestra la imagen si está disponible
							Ruta = "/Profile/Event"
						})
					}
				</div>
			</div>
		</div>
		<div class="Landing__background">
			<div class="left"></div>
			<div class="right">
				 <video autoplay muted loop id="Landing__background__video">
					 <source src="~/Assets/IMG_0059.mov" type="video/mp4">
				</video>
			</div>
		</div>
	</div>
</body>
</html>
