body{
    overflow: hidden;
}

/* Miembros de la banda */
.band-content {
    background-color: #444;
    padding: 2rem;
    border-radius: 8px;
    max-width: 100%;
    max-height: 90%;
    display: inline-block;
    overflow-y: auto;
}

    .band-content::-webkit-scrollbar {
        width: 10px; /* Grosor */
    }

    .band-content::-webkit-scrollbar-track {
        background: transparent; /* Fondo transparente */
    }

    .band-content::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.2); /* Color tenue */
        border-radius: 10px;
    }

        .band-content::-webkit-scrollbar-thumb:hover {
            background-color: rgba(255, 255, 255, 0.4); /* Hover más visible */
        }

.Profile__card-section-link {
    display: block; 
    width: fit-content;
}

.toggle-button {
    background: none;
    border: none;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0;
    color: white;
}

.toggle-icon {
    font-size: 1.2rem;
    margin-right: 0.5rem; /* Espacio entre la flecha y el texto */
    transition: transform 0.3s ease; /* Suaviza la rotación */
}

.band-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    margin-top: 1rem;
}

.band-card {
    background-color: var(--tertiary-color);
    border-radius: 8px;
    overflow: hidden;
    width: 250px;
    border: 1px solid rgba(0, 0, 0, .125);
}

    .band-card img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

.band-card-content {
    padding: 1rem;
}

.band-card-title {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: black;
}

.band-card-date {
    color: #888;
    font-size: 1rem;
}

/* Eventos próximos */
.upcoming-events {
    background-color: #333;
    padding: 2rem;
    border-radius: 8px;
}

.event-card {
    background-color: #444;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 1rem;
}

    .event-card img {
        width: 100%;
        height: 150px;
        object-fit: cover;
    }

.event-card-content {
    padding: 1rem;
}

/* Título de sección */
.section-title {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #fff;
    font-weight: bold;
}

/* Estrellas para la calificación */
.star {
    font-size: 2rem;
    cursor: pointer;
    color: gold;
}

.star-container {
    display: inline-flex;
    gap: 5px;
}

.favorite-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.favorite-button {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .favorite-button:hover {
        background-color: #45a049;
    }

    .favorite-button:focus {
        outline: none;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    }

#favorite-icon {
    font-size: 1.2rem;
    margin-right: 0.5rem;
}

#favorite-text {
    font-size: 1rem;
}

.review-container {
    max-height: 100vh;
    padding-right: 5%;
}

.review-container h2{
    font-weight: bold;
}

.users-reviews-container {
    width: 100%;
    max-height: 50vh;
    overflow-y: auto;
    border-radius: 8px;
    margin-right: 10%;
    background-color: #444;
}

.users-reviews-container .ReviewCard{
    margin-left: 3%;
}

.users-reviews-container::-webkit-scrollbar {
    width: 10px; /* Grosor */
}

.users-reviews-container::-webkit-scrollbar-track {
    background: transparent; /* Fondo transparente */
}

.users-reviews-container::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2); /* Color tenue */
    border-radius: 10px;
}

.users-reviews-container::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.4); /* Hover más visible */
}
