html,body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
}
.User__page-grid {
    display: grid;
    grid-template-areas:
        "user-section project-section event-section";
    grid-template-columns: 1fr 2fr 1.2fr;
    background-color: #333333;
    color: #fff;
    width: 100%;
}
.User__user-section{
    display: flex;
    flex-direction: column;
    padding-top: 3em;
    padding-left: 5em;
    gap: 2em;
}
.User__user-section__labels{
    display:flex;
    flex-direction: row;
    gap: 1em;
    flex-wrap: wrap;
}
.User__project-seciton{
    display: flex;
    flex-direction: column;
    gap:2em;
    padding: 3em;
}
.User__event-seciton{
    display: flex;
    flex-direction: column;
    gap:2em;
    padding: 3em;
}
.User__event-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

    .User__event-link:hover {
        text-decoration: none;
        opacity: 0.9;
    }

