@model LocalVibes.Models.CardModel

<div class="HorizontalCard">
    @if (Model.Image == null)
    {
        <img src="~/Assets/Pantera.jpeg" />
    }
    else
    {
        <img src="data:image /png;base64 Convert.ToBase64String(Model.Image)" alt="@Model.Image" />
    }
    <div class="HorizontalCard__body" >
        <div>
            <h5 class="HorizontalCard__body__title" >@Model.Title</h5>
            <p class="HorizontalCard__body__subtitle">@Model.Subtitle</p>
        </div>
    </div>
</div>
