@model LocalVibes.Models.MemberCardModel

<table class="MemberCard">
        <tr>
            <th>Foto</th>
            <th>Nombre</th>
            <th>Instrumento</th>
        </tr>
        @if (Model.Members != null && Model.Members.Any())
        {
            @foreach (var member in Model.Members)
            {
                <tr class="MemberCard__rows__member">
                    <!-- Image -->
                    <td>
                        <img src="data:image/png;base64,@(member.MemberImage != null ? Convert.ToBase64String(member.MemberImage) : string.Empty)" alt="@member.MemberName" />
                    </td>

                    <!-- Member Name -->
                    <td>
                        <p>@member.MemberName</p>
                    </td>
                    <!-- Instruments -->
                    <td>
                        <p >
                            @if (member.Instruments != null && member.Instruments.Any())
                            {
                                @string.Join(", ", member.Instruments.Select(i => i.NameInstrument))
                            }
                            else
                            {
                                <span>Datos no encontrado</span>
                            }
                        </p>
                    </td>

                </tr>
            }
        }
        else
        {
            <span>Datos no encontrado</span>
        }
</table>
