@model LocalVibes.Models.ReviewCardModel

<div class="ReviewCard">
    <div class="ReviewCard__header">
        @Html.Partial("_Avatar", new AvatarModel{Size="40px"})
        <div>
            <div>UserName</div>
            <div class="ReviewCard__header__date">Date</div>
        </div>
        <div>Rate</div>
    </div >
    <p class="ReviewCard__comment">
        hdjalsdjfkalsdñjflsadjfaslñdjfasñldjfsaldasldñfjañsl
        hdjalsdjfkalsdñjflsadjfaslñdjfasñldjfsaldasldñfjañsl
    </p>
</div>

