@model LocalVibes.Models.CardModel

<div class="VerticalCard" style="width: 200px;">
    <div class="card-image" style="background-image: url('@Model.ImageUrl'); background-size: cover; background-position: center; height: 200px; display: flex; justify-content: center; align-items: center;">
    </div>
    <div class="VerticalCard__body" >
        <h5 class="card-title" >@Model.Title</h5>
        <p class="card-subtitle" >@Model.Subtitle</p>
    </div>
</div>
