.MemberCard {
  background-color: #FFF;
  display: flex;
  align-items: center;
  border-radius: 2em;
  color: #333333;
  padding: 2em;
  gap: 1em;
  max-width: 100%;
  text-align: center;
}
.MemberCard thead {
  text-align: center;
  width: 100%;
}

.MemberCard tbody {
  text-align: center;
  width: 100%;
}


.MemberCard__rows {
  display: flex;
  flex-direction: row;
  text-align: center;
  gap: 1em;
}

.MemberCard__rows__member {
  text-align: center;
}
