.MemberCard {
    background-color: #FFF;
    border-radius: 2em;
    color: #333333;
    width: 100%;
    border: 10px solid transparent;
}

.MemberCard td, th{
    padding: 4px;
}

.MemberCard img {
    height: 5em;
    width: 5em;
    border-radius: 8px;
}
