@using LocalVibes.Models.ViewModels
@model SignUpUserViewModel

@{
    ViewData["Title"] = "Sign Up";
}

<div class="signup-container">

    <h2>Registrar Usuario</h2>
    <form asp-action="SignUpUser" method="post" asp-antiforgery="true">

        <div class="form-group">
            <label asp-for="Username"></label>
            <input asp-for="Username" class="form-control" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="LastName"></label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="UserEmail"></label>
            <input asp-for="UserEmail" type="email" class="form-control" />
            <span asp-validation-for="UserEmail" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Phone"></label>
            <input asp-for="Phone" class="form-control" />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Birthdate"></label>
            <input asp-for="Birthdate" type="date" class="form-control" />
            <span asp-validation-for="Birthdate" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" type="password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" type="password" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <!-- Género -->
        <div class="form-group">
            <label asp-for="IdGenere">Género</label>
            <select asp-for="IdGenere" class="form-control">
                <option value="1">Masculino</option> <!-- ID=1 para Masculino -->
                <option value="2">Femenino</option> <!-- ID=2 para Femenino -->
                <option value="3">No binario</option> <!-- ID=3 para No binario -->
                <option value="4">Otro</option> <!-- ID=4 para Otro -->
                <option value="5">No Especificar</option> <!-- ID=5 para No Especificar -->
            </select>
            <span asp-validation-for="IdGenere" class="text-danger"></span>
        </div>

        <!-- Tipo de documento -->
        <div class="form-group">
            <label asp-for="IdDocumentType">Tipo de documento</label>
            <select asp-for="IdDocumentType" class="form-control">
                <option value="1">DNI</option> <!-- ID=1 para DNI -->
                <option value="2">NIE</option> <!-- ID=2 para NIE -->
                <option value="3">Pasaporte</option> <!-- ID=3 para Pasaporte -->
                <option value="4">Otro</option> <!-- ID=4 para Otro -->
            </select>
            <span asp-validation-for="IdDocumentType" class="text-danger"></span>
        </div>


        <div class="form-group">
            <label asp-for="DocumentNumber">Número de documento</label>
            <input asp-for="DocumentNumber" class="form-control" />
            <span asp-validation-for="DocumentNumber" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Registrar</button>

    </form>
</div>
