@using LocalVibes.Models.ViewModels
@model SignUpViewModel

@{
    ViewData["Title"] = "Sign Up";
}

<head>
    <link rel="stylesheet" href="~/css/multiSelect.css" />
    <link rel="stylesheet" href="~/css/Views/SignUp/style.css" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>   
</head>

<div class="signup-container">
    <div class="wrapper">
        <span class="bg-animate"></span>
        <span class="bg-animate2"></span>

        <!--User-->
        <div class="form-box login">
            <partial name="SignUp/_UserForm" model="Model.User" />
        </div>
        <div class="info-text login">
            <h2 class="animation" style="--i:0; --j:20">Bienvenido Usuario!</h2>
            <p class="animation" style="--i:1; --j:21">Registrate y descubre música local, bandas y eventos inolvidables!</p>
        </div>

        <!--Band-->
        <div class="form-box register">
            <partial name="SignUp/_BandForm" model="Model.Band" />
        </div>
        <div class="info-text register">
            <h2 class="animation" style="--i:28; --j:0">Bienvenida Banda!</h2>
            <p class="animation" style="--i:29; --j:1">Conecta con tus fans, haz crecer tu audiencia y promociona tus conciertos!</p>
        </div>
    </div>
    <script src="~/js/SignUp/script.js"></script>
    <script src="~/js/MultiSelect.js"></script>
</div>
