﻿@{
	ViewData["Title"] = "Home Page";

	string mesaje = "Welcome";

	if (ViewBag.username != null)
		mesaje = "Welcome, " + ViewBag.Username + "!";

}

<div class="text-center">
	<h1 class="display-4">
		@mesaje
	</h1>
</div>